.calculate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin: 50px auto;

    background-color: #333;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.display{
    width: 100%;
    height: 60px;
    background-color: aliceblue;
    color: black;
    font-size: 2.1rem;
    display: flex;
    justify-content: flex-end; /*글자 오른쪽 정렬*/
    align-items: center; /*수직 중앙 정렬*/
    padding-right: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:10px
}

button {
    padding: 20px;
}

@media (max-width: 600px) {
    .calculator {
        width: 90%;
        font-size: 1.3rem;
    }
    
    button {
        padding: 15px;
    }

    .display {
        height: 50px;
    }
}